<app-header titulo="Alert"></app-header>
 
<ion-content class="ion-padding">
<ion-button (click)="presentAlert()" expand="block" shape="round">
    Mostrar alerta
</ion-button>
<ion-button (click)="presentAlertMultipleButtons()" expand="block" shape="round">
    Botones
</ion-button>
<ion-button (click)="presentAlertConfirm()" expand="block" shape="round">
    Confirmar, cancelar
</ion-button>
<ion-button (click)="presentAlertPrompt()" expand="block" shape="round">
    Muchos datos
</ion-button>
<ion-button (click)="presentAlertRadio()" expand="block" shape="round">
    Seleccionar circulos
</ion-button>
<ion-button (click)="presentAlertCheckbox()" expand="block" shape="round">
    Lista
</ion-button>

</ion-content>
