<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-button routerLink="/action-Sheet"> Action-Sheet </ion-button>
  <ion-button routerLink="/alert"> Alert </ion-button-->
    <ion-list>
      <ion-item lines="full" *ngFor="let c of componentes" routerLink="{{c.redirectTo}}">
        <ion-icon name="{{c.icon}}" slot="start"></ion-icon>
        <ion-label>{{c.name}}</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
